.copyright
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year === theme.startyear ? year : theme.startyear + ' - ' + year;
    p
        a(href="/atom.xml")
            img.rss-icon(src="/images/rss_ico.png")
            span  Feed |
        a(href="/sitemap.xml")
            span  Sitemap |
        span  © #{year} #[a(href=config.url)!= config.author], powered by #[a(href=hexoURL, target="_blank") Hexo].
