doctype
html(lang=config.language)
    head
        include head
    body
        .fixed-width
            header
                a.logo-link(href=url_for())
                    img(src=url_for(theme.logo) alt="logo")
                    h1.logo-text
                        span.logo-slashes // todo():
                        span redo
                include nav
        main.container
            block container
        .fixed-width
            footer
                block pagination
                block copyright
        include scripts
