header {
    min-height: 60px;

    .logo-link img {
        float: left;
        height: 84px;
    }

    .logo-text {
        display: inline;
        line-height: 85px;
        color: #2c3e50;
        font-size: 1.5em;
        margin-left: 5px;
    }

    .logo-slashes {
        color: #93a29b;
        margin-right: 5px;
    }
    
    .nav {
        float: right;
        line-height: 50px;
    }

    .nav-list-item {
        display: inline-block;
        padding: 19px  10px ;
        a {
            font-size: 1em;
            line-height: 1.4;
        }
    }
}
