mixin postTags(item)
    - if (typeof(item.tags) !== 'undefined'){
        .post-tags
            - item.tags.each(function (tag) {
                a.post-tag(href= url_for(tag.path))
                    != tag.name
            - })
    -}

mixin postDate(item)
    .post-date
        != full_date(item.date, 'll')

//- Index Page
mixin posts()
    div.post-img-container
        img.post-img(src='/images/tree3.jpg')
    div.fixed-width
        ul.home.post-list
            - page.posts.each(function (item) {
                li.post-list-item
                    article.post-block
                        h2.post-title
                            a.post-title-link(href= url_for(item.path))
                                != item.title
                        +postTags(item)
                        +postDate(item)
                        .post-content
                            != item.excerpt
                        a.read-more(href= url_for(item.path))!= ('Continue reading')
            - })

//- Archive Page
mixin postList()
    div.post-img-container
        img.post-img(src='/images/archive.jpg')
    .archive
        - var year = new Date().getFullYear();
        - var change = false;
        h1.archive-title
            - if (typeof(page.tag) !== 'undefined') {
            | Posts tagged with ##{page.tag}
            -} else {
            | Archive
            -}
        - page.posts.each(function (item) {
            - var itemYear = date(item.date, 'YYYY') - 0;
            - change = year !== itemYear;
            if change
                h2.archive-year!= year
            .post-item
                +postDate(item)
                .post-title-link
                    a(href= url_for(item.path))
                        != item.title
                    +postTags(item)
        - })

//- Post Page
mixin post(item)
    div.post-img-container
        - if (typeof(item.featured_image) !== 'undefined'){
        img.post-img(src= item.featured_image)
        -}
    div.fixed-width
        div.post
            article.post-block
                h1.post-title
                    span.pre-title //&nbsp;todo():&nbsp;
                    != item.title
                +postTags(item)
                +postDate(item)
                .post-content
                    != item.content
                p.ending
                    i
                        | That's all for today. Happy coding!